/nbproject/
/.sass-cache/
node_modules/
/public/css/
/public/img/
/public/dist/
/public/fonts/
/public/js/
/public/pjs/
*.log
/vendor/
/config/*.local.php
error.log
access.log
*.env
!/conf.log
/config/routes.cache.php
/*.sql
/data/database/seeds/testes/
.docker/
custom-values.yaml
.idea/
auth.json
99-xdebug.ini
*.cache
tests/settings.php
env.yaml
env-build.yaml
*.local.php